{
    "nevents": 10000,
    "run_params": "${run_params}",
    "apmass": ${apmass},
    "target_z": -7.51,
    "seed": ${seed},
    "output_files": {
        "ap_unweighted_events_mom_full_truth_rot.stdhep": "aprime_${apmass}_${run_params}_${job_id}.stdhep"
    },
    "output_dir": "/data/users/bravo/hps/lhe/${run_params}/ap/${apmass}"
}
